
@use '../components/mixins';
@use '../custom' as *;

body 
{
    font-family: "Poppins";
}

.collections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.collections h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins';
    position: relative;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
}

.collections h3::before,
.collections h3::after 
{
    content: '';
    position: absolute;
    top: 50%;
    width: 20%;
    max-width: 150px;
    min-width: 50px;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
}

.collections h3::before {
    left: 0;
    transform: translateX(-100%);
}

.collections h3::after {
    right: 0;
    transform: translateX(100%);
}


/* Media query for very small screens */
@media (max-width: 480px) 
{

    .collections h3 
    {
        font-size: 22px;
        white-space: nowrap;
        padding: 0 13px;
    }
    .collections h3::before,
    .collections h3::after 
    {
        width: 20%; /* Further reduce line width on very small screens */
        max-width: 5px; /* Further decrease max width */
        display: flex;
    }
}

@media (max-width: 335px) 
{

    .collections h3 
    {
        font-size: 16px;
        white-space: nowrap;
        padding: 0 13px;
    }
    .collections h3::before,
    .collections h3::after 
    {
        width: 10%; /* Further reduce line width on very small screens */
        max-width: 3px; /* Further decrease max width */
        display: flex;
    }
}


.collection-body ul li {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin: 0 12px;
    align-items: center;
}

.collection-body ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 300;
    padding: 8px;
    transition: color 0.3s ease, font-weight 0.0s ease; /* Add transition for color and font-weight */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid transparent;
        transition: border-color 0.3s ease;
    }

    &:hover::before {
        border-color: black; /* Adjust the color as needed */
    }

    &:hover {
        font-weight: 400;
    }
}




/* Default styles - hide both containers */
.hidecollection {
    display: none;
}

/* Show for large screens */
@media (min-width: 769px) {
    #forLgOnly {
        display: block;
    }
}

/* Show for small screens */
@media (max-width: 768px) {
    #forSmOnly {
        display: block;
    }
}

@media (min-width: 1200px) 
{
    div.collection-body, ul
    {
        display: flex;
        justify-content: center;
        margin-top: 17px;
    }
}

.shop-conf {
    text-align: center; /* Centers the entire block of text */
    margin: 0 auto; /* Centers the entire container */
}

.shop-conf p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto; /* Centers the paragraph within its container */
    max-width: 600px; /* Controls the maximum width of the paragraph */
    line-height: 1.5;
    padding: 0 20px; /* Adds padding to prevent text from touching the edges */
    text-align: center; /* Ensures all text is centered */
}

.shop-conf p::first-line {
    text-align: left; /* Left-aligns the first line */
    display: block;
    width: 100%;
}

/////////////////////////////////////////////////////

.collections-faqs h3 
{
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins";
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) 
{
    .collections-faqs h3 
    {
        margin-top: 10px;
        font-size: 25px;
    }
}

@media (max-width: 500px) 
{
    .collections-faqs h3 
    {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 16px;
    }
}

@media (max-width: 300px) 
{
    .collections-faqs h3 
    {
        font-size: 12px;
    }
}


