
@use '../components/mixins';
@use '../custom' as *;

body 
{
    font-family: "Poppins";
}

.products 
{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    border: 1px $secondary;
    background-clip: border-box;
    background-size: cover;
    padding: 10px;
    // margin-bottom: 20px;
    overflow: hidden; /* Ensure the image does not go outside the container */
}
.prod-img 
{
    width: 100%;
    height: 200px; /* Fixed height for image */
    object-fit: cover; /* Ensure the image covers the entire area */
    transition: transform 0.9s ease; /* Add transition for smooth zoom effect */
}
.prod-cont 
{
    font-size: 17px;
    margin-top: 10px;
    font-weight: 500;
    // margin-bottom: 5px;
}
.original-price 
{
    margin-right: 8px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
}
.sale-price 
{
    font-size: 17px;
    font-weight: 600;
    color: red;
}

@media (max-width: 430px) 
{   
    .products 
    {
        width: 100%;
        height: 130px;
    }

    .prod-img 
    {
        background-clip: border-box;
        background-size: cover;
        width: 100%;
        height: 100%; /* Fixed height for image */
        object-fit: cover; /* Ensure the image covers the entire area */
        
    }

    .prod-cont 
    {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
    }

    .original-price 
    {   
        margin-left: 15px;
        margin-right: 8px;
        font-size: 13px;
        font-weight: 300;
        text-decoration: line-through;
    }

    .sale-price {
        font-size: 14px;
        font-weight: 600;
        color: red;
    }
}


/* Positioning the heart icon */
.icon-on-hover 
{   
    display: none;
    top: 10px; 
    left: 10px; 
    color: $primary; 
    font-size: 16px; 
}

/* Positioning the discount label */
.discount-label 
{
    top: 10px; 
    right: 10px; 
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px; 
}

/* Ensuring position relative to the product card */
.position-relative 
{
    position: relative;
}

/* Show the heart icon on hover */
.products:hover .icon-on-hover 
{
    display: block;
}

.prod-img:hover
{
    transform: scale(1.1); /* Scale image to 110% */
    transition-delay: 0s;
}


@media (max-width: 995px) 
{
    .icon-on-hover 
    {
        display: block;
    }

    .discount-label 
    {
        top: 12px;
        border-radius: 80%;
        padding: 2px 5px;
        font-size: 8px;
    }
}